@CHARSET "UTF-8";

/* FrameNet */

.fnlexunit {
}

.fnlexunitlabel {
	color: gray;
}

.fnlexunitname {
	background-color: red;
	color: white;
	font-weight: bold;
	font-size: large;
	padding-left: 2px;
	padding-right: 2px;
}

.fnlexunitdefinition {
	color: #336699;
	font-style: italic;
}

.fnlexunittext {
	color: pink;
}

.fnframe {
}

.fnframelabel {
}

.fnframename {
	background-color: darkred;
	color: white;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
}

.fnframetext {
	color: blue;
}

.fnframedefinition {
	color: magenta;
}

.fnrelated {
}

.fnrelatedrelation {
	color: gray;
	font-style: italic;
	margin-right: 5px;
}

.fnrelatedname {
	background-color: darkmagenta;
	color: white;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
}

.fnfe {
}

.fnfelabel {
	color: gray;
}

.fnfename {
	background-color: magenta;
	color: white;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
}

.fnfesemtype {
	color: black;
}

.fnfetext {
}

.fnfedefinition {
	color: magenta;
}

.fnsentence {
	background-color: white;
}

.fnsentencelabel {
	color: gray;
}

.fnex {
	background-color: lemonchiffon;
	color: gray;
}

.fntarget {
	background-color: black;
	color: white;
	padding-left: 2px;
	padding-right: 2px;
}

.fnfetext {
	color: magenta;
}

.fnfen {
	color: black;
	margin-left: 2px;
	margin-right: 2px;
}

.fnfex {
	color: magenta;
}

.fnment {
	color: black;
}

.fnm {
	font-style: italic;
}

.fngov {
	font-style: italic;
	color: black;
}

.fnx {
	font-style: italic;
	color: black;
}

.fnsentencetext {
	background-color: lemonchiffon;
	color: gray;
	font-style: italic;
}
