<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.sqlunet.treeview">

	<uses-sdk
		android:minSdkVersion="11"
		android:targetSdkVersion="25"
		tools:ignore="GradleOverrides"/>

	<application android:allowBackup="true"/>

</manifest>