/build
/.idea/caches
/.gradle
/gradle
/gradlew*
/dist/releases/*.apk
/dist/keystore
/dist/storelist
/dist/captures
/dist/data
/dist/logs
/dist/releases
/dist/icons
/dist/list
/dist/pdf
/dist/stats
/dist/release
/data
/captures
/release
**/build
**/keystore.properties
**/strings_license-nontranslatable.xml
**/androidpublisher.dat
**/client_secrets.json

