/HERE
/build
/.gradle
/gradle/wrapper
/gradle/dependency-graph
/gradlew*
/dist/releases/*.apk
/dist/keystore
/dist/storelist
/dist/captures
/dist/data
/dist/logs
/dist/releases
/dist/icons
/dist/list
/dist/pdf
/dist/stats
/dist/resources
/dist/release
/data
/data2
/captures
/release
/.idea/caches
/.idea/libraries
/.idea/modules
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/studiobot.xml
**.iml
**.iws
**_test.xml
**/build
**/keystore*.properties
**/strings_license-nontranslatable.xml
**/androidpublisher.dat
**/client_secrets.json
**/_*
