/build
/.idea/caches
/.gradle
/gradle
/gradlew*
/dist/releases/*.apk
/dist/releases/publisher
/dist/releases/androidpublisher.dat
/dist/releases/client_secrets.json
/dist/keystore
/dist/storelist
/dist/captures
/dist/data
/dist/logs
/dist/releases
/dist/icons
/dist/list
/dist/pdf
/dist/stats
/release
/data
/captures
**/keystore.properties
**/build

