/* WordNet Relations */

* {
	color: black;
	font-family: Arial,sans-serif;
}

body {
	background-color: #F3F1E2;
	font-size: small;
	padding: 0px;
}

.toc {
	display: none;
}

/******* hyperlink and anchor tag styles *******/

a:relation,a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/********* custom *********/

.header {
	background-color: gray;
	color: orange;
}

.menu {
	background-color: orange;
}

.title {
	font-size: xx-large;
	font-weight: bold;
	letter-spacing: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: orange;
}

.relation {
	visibility: visible;
	margin-bottom: 100px;
}

.relationheader {
}

.relationimage {
	width: 36px;
}

.name {
	font-size: x-large;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: orange;
	color: black;
	vertical-align: middle;
}

.description {
	font-weight: bold;
	margin-top: 20px;
}

.features {
	margin-top: 20px;
}

.featureimage {
	background-color: white;
	margin-right: 20px;
	vertical-align: middle;
}

.type {
}

.reflexive {
}

.domain {
	background-color: #00cc99;
}

.logical {
	background-color: #E5E2B3;
	font-style: italic;
	margin-top: 20px;
}

.def {
	color: gray;
}

.cond {
	color: gray;
}

.exampletable {
}

.examples {
	margin-top: 20px;
	margin-bottom: 20px;
}

.example {
}

.from {
	font-size: small;
	font-family: serif;
	border-style:solid;
	border-width: 1;
}

.to {
	background-color: #FFFF99;
	font-size: small;
	font-family: serif;
	border-style:solid;
	border-width: 1;
}

.gloss {
	color: gray;
	font-size: small;
	font-style: italic;
}

.backimage {
	background-repeat: repeat;
}

.splash {
	height: 100%;
	background-color: #E5E2B3;
	background-repeat: no-repeat;
	background-position: center center;
    background-attachment: fixed;
	background-image: url('./images/splash.png');
}

.selectorname {
		margin-left:10px;
}

