<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2023. Bernard Bou
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<application>

		<activity
			android:name="com.bbou.others.OthersActivity"
			android:label="@string/title_activity_others" />

	</application>

</manifest>
