<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2023. Bernard Bou
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:installLocation="preferExternal">

	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		android:maxSdkVersion="32" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		tools:ignore="ScopedStorage" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.android.vending.BILLING" />

	<uses-feature
		android:name="android.software.webview"
		android:required="true" />

	<application
		android:name="org.sqlunet.browser.sn.Application"
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/MyTheme"
		android:usesCleartextTraffic="true"
		tools:ignore="GoogleAppIndexingWarning"
		tools:targetApi="s">

		<meta-data
			android:name="com.google.android.backup.api_key"
			android:value="@string/backup_api_key" />

		<activity
			android:name="org.sqlunet.browser.EntryActivity"
			android:exported="true"
			android:launchMode="singleTask"
			android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name="org.sqlunet.browser.config.LoadActivity"
			android:label="@string/title_activity_assetload"
			android:launchMode="singleTop"
			android:noHistory="true" />

		<activity
			android:name="org.sqlunet.browser.config.AssetLoadActivity"
			android:label="@string/title_activity_assetload"
			android:launchMode="singleTop"
			android:noHistory="true" />

		<activity
			android:name="org.sqlunet.browser.config.DownloadActivity"
			android:label="@string/title_activity_download"
			android:launchMode="singleTop"
			android:noHistory="true" />

		<activity
			android:name="org.sqlunet.browser.MainActivity"
			android:exported="false"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.BrowseActivity"
			android:exported="true"
			android:label="@string/title_activity_browse"
			android:launchMode="singleTop"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<intent-filter android:label="@string/title_intentfilter_send_activity_browse">
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.selector.Browse1Activity"
			android:exported="false"
			android:label="@string/title_activity_selector"
			android:launchMode="singleTop"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name=".SnBrowse1Activity"
			android:exported="false"
			android:label="@string/title_activity_selector"
			android:launchMode="singleTop"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.xselector.XBrowse1Activity"
			android:exported="false"
			android:label="@string/title_activity_xselector"
			android:launchMode="singleTop"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.SearchTextActivity"
			android:exported="true"
			android:label="@string/title_activity_searchtext"
			android:launchMode="singleTop"
			android:parentActivityName="org.sqlunet.browser.SearchTextActivity"
			tools:ignore="UnusedAttribute">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<intent-filter android:label="@string/title_intentfilter_send_activity_searchtext">
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.Browse2Activity"
			android:label="@string/title_activity_browse2"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.SnBrowse2Activity"
			android:label="@string/title_activity_browse2"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.history.HistoryActivity"
			android:label="@string/title_activity_history"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.web.WebActivity"
			android:label="@string/title_activity_web"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.wordnet.browser.WordActivity"
			android:label="@string/title_activity_word"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.wordnet.browser.SynsetActivity"
			android:label="@string/title_activity_synset"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.wordnet.browser.SenseActivity"
			android:label="@string/title_activity_sense"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.wordnet.browser.SenseKeyActivity"
			android:label="@string/title_activity_sense"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.wordnet.browser.RelationActivity"
			android:label="@string/title_activity_relation"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.syntagnet.browser.CollocationActivity"
			android:label="@string/title_activity_collocation"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.config.TableActivity"
			android:label="@string/title_activity_table"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.config.SettingsActivity"
			android:label="@string/title_activity_settings"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.config.SetupActivity"
			android:label="@string/title_activity_setup"
			android:launchMode="singleTop"
			android:parentActivityName="org.sqlunet.browser.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.config.SetupFileActivity"
			android:label="@string/title_activity_setup"
			android:launchMode="singleTop"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.config.SetupDatabaseActivity"
			android:label="@string/title_activity_setup_database"
			android:launchMode="singleTop"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.config.OperationActivity"
			android:exported="false"
			android:label="@string/title_activity_operation"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="com.bbou.download.DownloadActivity"
			android:label="@string/title_activity_download"
			android:launchMode="singleTop"
			android:parentActivityName="org.sqlunet.browser.EntryActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.EntryActivity" />
		</activity>

		<activity
			android:name="com.bbou.download.UpdateActivity"
			android:label="@string/title_activity_update"
			android:launchMode="singleTop"
			android:parentActivityName="org.sqlunet.browser.EntryActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.EntryActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.config.StorageActivity"
			android:label="@string/title_activity_storage"
			android:launchMode="singleTop"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.StatusActivity"
			android:label="@string/title_activity_status"
			android:launchMode="singleTop"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.config.DiagnosticsActivity"
			android:label="@string/title_activity_diagnostics"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.config.LogsActivity"
			android:label="@string/title_activity_logs"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.AboutActivity"
			android:label="@string/title_activity_about"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="org.sqlunet.browser.HelpActivity"
			android:label="@string/title_activity_help"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="com.bbou.donate.DonateActivity"
			android:label="@string/title_activity_donate"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<activity
			android:name="com.bbou.others.OthersActivity"
			android:label="@string/title_activity_others"
			android:parentActivityName="org.sqlunet.browser.MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity" />
		</activity>

		<provider
			android:name="org.sqlunet.provider.ManagerProvider"
			android:authorities="@string/manager_authority"
			android:enabled="true"
			android:exported="false"
			tools:ignore="ExportedContentProvider" />

		<provider
			android:name="org.sqlunet.provider.XSqlUNetProvider"
			android:authorities="@string/xsqlunet_authority"
			android:enabled="true"
			android:exported="false"
			tools:ignore="ExportedContentProvider" />

		<provider
			android:name="org.sqlunet.wordnet.provider.WordNetProvider"
			android:authorities="@string/wordnet_authority"
			android:enabled="true"
			android:exported="false"
			tools:ignore="ExportedContentProvider" />

		<provider
			android:name="org.sqlunet.syntagnet.provider.SyntagNetProvider"
			android:authorities="@string/syntagnet_authority"
			android:enabled="true"
			android:exported="false"
			tools:ignore="ExportedContentProvider" />

		<provider
			android:name="org.sqlunet.bnc.provider.BNCProvider"
			android:authorities="@string/bnc_authority"
			android:enabled="true"
			android:exported="false"
			tools:ignore="ExportedContentProvider" />

		<provider
			android:name="org.sqlunet.history.SearchSuggestionsProvider"
			android:authorities="@string/history_authority"
			android:exported="false" />

	</application>

</manifest>
