<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.sqlunet.browser"
          android:installLocation="preferExternal"
          android:versionCode="1"
          android:versionName="1.0">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="com.android.vending.BILLING"/>

	<application
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/CompatAppTheme">

		<meta-data
			android:name="com.google.android.backup.api_key"
			android:value="AEdPqrEAAAAID_zbp9cxwJUjUAfo2NGHn0kl4YQeFmFCyj_QXQ"/>

		<activity
			android:name=".MainActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable"/>
		</activity>

		<activity
			android:name=".BrowseActivity"
			android:label="@string/title_activity_main"
			android:launchMode="singleTop"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable"/>
		</activity>

		<activity
			android:name=".selector.Browse1Activity"
			android:label="@string/title_activity_selector"
			android:launchMode="singleTop"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>

		<activity
			android:name=".xselector.XBrowse1Activity"
			android:label="@string/title_activity_xselector"
			android:launchMode="singleTop"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>

		<activity
			android:name=".SearchTextActivity"
			android:label="@string/title_activity_text_search"
			android:launchMode="singleTop"
			android:parentActivityName=".SearchTextActivity"
			tools:ignore="UnusedAttribute">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable"/>
		</activity>

		<activity
			android:name=".BrowsePredicateMatrixActivity"
			android:label="@string/title_activity_predicatematrix"
			android:launchMode="singleTop"
			android:parentActivityName=".BrowsePredicateMatrixActivity"
			tools:ignore="UnusedAttribute">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable"/>
		</activity>

		<activity
			android:name=".Browse2Activity"
			android:label="@string/title_activity_browse2"
			android:parentActivityName=".selector.Browse1Activity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name=".web.WebActivity"
			android:label="@string/title_activity_web"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name="org.sqlunet.wordnet.browser.WordActivity"
			android:label="@string/title_activity_word"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name="org.sqlunet.wordnet.browser.SynsetActivity"
			android:label="@string/title_activity_synset"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name="org.sqlunet.wordnet.browser.SenseActivity"
			android:label="@string/title_activity_sense"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name="org.sqlunet.wordnet.browser.SenseKeyActivity"
			android:label="@string/title_activity_sense"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name="org.sqlunet.verbnet.browser.VnClassActivity"
			android:label="@string/title_activity_vnclass"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name="org.sqlunet.propbank.browser.PbRoleSetActivity"
			android:label="@string/title_activity_pbroleset"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name="org.sqlunet.framenet.browser.FnFrameActivity"
			android:label="@string/title_activity_fnframe"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name="org.sqlunet.framenet.browser.FnLexUnitActivity"
			android:label="@string/title_activity_fnlexunit"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name="org.sqlunet.framenet.browser.FnSentenceActivity"
			android:label="@string/title_activity_fnsentence"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name="org.sqlunet.framenet.browser.FnAnnoSetActivity"
			android:label="@string/title_activity_fnannoset"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name=".config.SettingsActivity"
			android:label="@string/title_activity_settings"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name=".StatusActivity"
			android:label="@string/title_activity_status"
			android:launchMode="singleTop"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name=".config.SetupActivity"
			android:label="@string/title_activity_setup"
			android:launchMode="singleTop">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>

		<activity
			android:name=".config.StorageActivity"
			android:label="@string/title_activity_storage"
			android:launchMode="singleTop"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name=".config.SetupFileActivity"
			android:label="@string/title_activity_setup"
			android:launchMode="singleTop"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name=".config.SetupDatabaseActivity"
			android:label="@string/title_activity_setup_database"
			android:launchMode="singleTop"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name=".config.SetupSqlActivity"
			android:label="@string/title_activity_setup"
			android:launchMode="singleTop"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name=".config.DownloadActivity"
			android:label="@string/title_activity_download"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name=".config.TableActivity"
			android:label="@string/title_activity_table"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="org.sqlunet.browser.MainActivity"/>
		</activity>

		<activity
			android:name=".AboutActivity"
			android:label="@string/title_activity_about"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>

		<activity
			android:name=".HelpActivity"
			android:label="@string/title_activity_help"
			android:parentActivityName=".MainActivity"
			tools:ignore="UnusedAttribute">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity"/>
		</activity>

		<receiver
			android:name="org.sqlunet.browser.config.Killer"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="kill_download"/>
			</intent-filter>
		</receiver>

		<provider
			android:name="org.sqlunet.provider.ManagerProvider"
			android:authorities="org.sqlunet.provider.manager"
			android:enabled="true"
			android:exported="true"
			tools:ignore="ExportedContentProvider">
		</provider>

		<provider
			android:name="org.sqlunet.provider.XSqlUNetProvider"
			android:authorities="org.sqlunet.cross.provider"
			android:enabled="true"
			android:exported="true"
			tools:ignore="ExportedContentProvider">
		</provider>

		<provider
			android:name="org.sqlunet.wordnet.provider.WordNetProvider"
			android:authorities="org.sqlunet.wordnet.provider"
			android:enabled="true"
			android:exported="true"
			tools:ignore="ExportedContentProvider">
		</provider>

		<provider
			android:name="org.sqlunet.framenet.provider.FrameNetProvider"
			android:authorities="org.sqlunet.framenet.provider"
			android:enabled="true"
			android:exported="true"
			tools:ignore="ExportedContentProvider">
		</provider>

		<provider
			android:name="org.sqlunet.propbank.provider.PropBankProvider"
			android:authorities="org.sqlunet.propbank.provider"
			android:enabled="true"
			android:exported="true"
			tools:ignore="ExportedContentProvider">
		</provider>

		<provider
			android:name="org.sqlunet.verbnet.provider.VerbNetProvider"
			android:authorities="org.sqlunet.verbnet.provider"
			android:enabled="true"
			android:exported="true"
			tools:ignore="ExportedContentProvider">
		</provider>

		<provider
			android:name="org.sqlunet.bnc.provider.BNCProvider"
			android:authorities="org.sqlunet.bnc.provider"
			android:enabled="true"
			android:exported="true"
			tools:ignore="ExportedContentProvider">
		</provider>

		<provider
			android:name="org.sqlunet.predicatematrix.provider.PredicateMatrixProvider"
			android:authorities="org.sqlunet.predicatematrix.provider"
			android:enabled="true"
			android:exported="true"
			tools:ignore="ExportedContentProvider">
		</provider>

	</application>

</manifest>